{{define "index"}}
  {{ $path := .Docs }}
  {{template "header" . }}
    <p>
      vinxi is a hackable, idiomatic and middleware-oriented web proxy toolkit written in Go designed to build
      extensible and versatile network proxy layers for a variery of purposes.
    </p>
    <p>
      <b>Still beta under active development.</b>
    </p>
    {{range .Pages}}
      <h1 id="{{.Name | slug}}">{{.Name}}</h1>
      {{printf "%s/%s" $path .File | readfile | markdown | noescape}}
    {{end}}
  {{template "footer"}}
{{end}}
