{{define "index"}}
  {{ $path := .Docs }}
  {{template "header" . }}
    <p>
      vinxi is a hackable, composable, middleware-oriented web proxy toolkit written in <a href="http://golang.org">Go</a>.
    </p>
    <p>
      vinxi was designed to build extensible and versatile web proxy solutions for a variety of purposes.
    </p>
    <p>
      vinxi core is lightweight and relies on a component-based architecture.
      It provides a generic set of built-in production-oriented <a href="#components">components</a> that are ready to plug in and use. 
    </p>
    <p>
      <b>Still beta under active development.</b>
    </p>
    {{range .Pages}}
      <h1 id="{{.Name | slug}}">{{.Name}}</h1>
      {{printf "%s/%s" $path .File | readfile | markdown | noescape}}
    {{end}}
  {{template "footer"}}
{{end}}
